* {
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}
.header {
  background: url("../img/bg.jpg  ") no-repeat center / cover;
  color: #fcfcfc;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding-top: 47px;
}
.m-menu {
  display: none;
}
.logo {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  list-style: none;
  display: flex;
  padding: 0;
}
.menu-item {
  margin-right: 30px;
}
.link {
  text-decoration: none;
  color: #fcfcfc;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
}
.info {
  display: flex;
  align-items: center;
}
.search {
  margin-left: 43px;
}
.user {
  margin-left: 30px;
}
.title {
  font-weight: 600;
  font-size: 52px;
  line-height: 150%;
}
.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}
.title-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-title {
  font-weight: 600;
  font-size: 98px;
  line-height: 145px;
  margin-bottom: 20px;
}
.button-info {
  max-width: 170px;
  border: 2px solid #fcfcfc;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 17px 43px;
  margin-bottom: 204px;
  cursor: pointer;
}
.path-city {
  cursor: pointer;
}
.map {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}
.map-info {
  display: flex;
}
.map-container-text {
  width: 50%;
}
.map-container-title {
  line-height: 115%;
  width: 70%;
}
.map-container-subtitle {
  max-width: 90%;
}
.map-city {
  width: 100%;
}
.tours {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 130px;
}
.tours-cards {
  display: flex;
  align-items: center;
  margin-top: 80px;
}
.tour-card {
  position: relative;
}
.tour-card:not(:last-child) {
  margin-right: 31px;
}
.grey {
  display: none;
}
.card-grey {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(249, 249, 250, 0) 0%,
    rgba(249, 249, 250, 0.9) 100%
  );
}
.card-info {
  position: absolute;
  top: 40px;
  left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 290px;
  margin: auto;
  z-index: 9;
}
.like {
  position: absolute;
  top: 41px;
  left: 295px;
}

.country {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 115%;
}
.tour {
  margin-top: 125px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 26px;
  line-height: 115%;
}
.tour-info,
.tour-level {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 115%;
}
.tour-info {
  margin-bottom: 25px;
}
.meters,
.days {
  padding-right: 10px;
  border-right: 1px solid #061b28;
}
.days,
.cost {
  padding-left: 5px;
}
.navigation {
  margin-top: 40px;
  margin-left: 90%;
}
.navigation-button:not(:last-child) {
  margin-right: 25px;
}
.navigation-button {
  cursor: pointer;
}
.section {
  background: url("../img/bg-tour-table.jpg") no-repeat center top / cover;
  height: 100%;
}
.tour-table {
  color: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tour-table-title {
  margin-top: 100px;
  margin-bottom: 25px;
}
.tour-table-subtitle {
  max-width: 243px;
  text-align: center;
  margin-bottom: 45px;
}
.table {
  display: flex;
  flex-direction: column;
  max-width: 830px;
}
.table-name {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 140%;
  color: #a7aeb4;
  text-align: center;
}
.table-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
}
.tours-button {
  border: 2px solid #fcfcfc;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
.table-names,
.table-mountains {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  border-bottom: 1px solid #45545e;
  width: 830px;
}
.table-mountains {
  margin-left: 12px;
}
.tours-button {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 17px 33px;
  cursor: pointer;
}
.section-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
}
.blog {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-bottom: 141px;
}
.news {
  max-width: 35%;
}
.information {
  margin-left: 70px;
  max-width: 65%;
}
.news-label {
  padding: 30px;
  padding-right: 9px;
  border-bottom: 1px solid #061b28;
}
.news-label:hover {
  background-color: #061b28;
  color: #fcfcfc;
  cursor: pointer;
}
.date {
  font-size: 14px;
  color: #626f77;
  margin-bottom: 20px;
}
.label-info {
  font-size: 18px;
  line-height: 120%;
}
.news-information {
  font-size: 16px;
  line-height: 150%;
  max-width: 683px;
  margin-top: 35px;
}
.blog-img {
  margin-bottom: 40px;
  max-width: 100%;
}
.info-label {
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
}
.button-read {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #fcfcfc;
  background-color: #ec5118;
  cursor: pointer;
}
.section-help {
  display: flex;
  color: #fcfcfc;
}
.help {
  display: flex;
  flex-direction: column;
  background-color: #061b28;
  max-width: 50%;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 98px;
  padding-right: 60px;
}
.help-title {
  margin-bottom: 40px;
}
.help-subtitle {
  margin-bottom: 5px;
}
.input {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #7e8386;
  border: none;
  background: none;
  border-bottom: 1px solid #45545e;
  padding-top: 35px;
  padding-bottom: 15px;
}
.form-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  background-color: #ec5118;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 45px;
  cursor: pointer;
}
.ps {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 140%;
  margin-top: 25px;
  max-width: 100%;
}
.img-section-help {
  max-width: 50%;
}
.contacts {
  padding-top: 133px;
  padding-bottom: 140px;
  display: flex;
}
.cont-map {
  width: 500px;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.cont {
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;
  margin-bottom: 20px;
}
.cont-lbl {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 150%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.contact-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
}
.social-link:not(:last-child) {
  margin-right: 33px;
}
.social-link {
  cursor: pointer;
}
.footer {
  background-color: #061b28;
  padding-top: 9px;
  padding-bottom: 56px;
  color: #fcfcfc;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.polite {
  text-decoration: none;
  color: #fcfcfc;
}
.rights,
.polite {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 150%;
}
.label {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .navigation-button:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
    padding-top: 30px;
  }
  .title {
    font-size: 42px;
  }
  .subtitle{
    font-size: 18px
  } 
  .map {
    margin-top: 100px;
  }
  .navigation {
    margin-left: 0;
  }
  .navigation-button:not(:last-child) {
    margin-right: 30px;
  }
  .help {
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 68px;
  }
  .help-title {
    margin-bottom: 30px;
  }
  .input {
    padding-top: 25px;
    padding-bottom: 5px;
  }
  .contacts {
    margin-top: 50px;
  }
  .cont {
    font-size: 42px;
    margin-bottom: 15px;
  }
  .cont-lbl {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 5px;
  }
  .contact-name {
    font-size: 18px;
  }
  .menu {
    position: absolute;
    left: 710px;
    top: 40px;
    padding: 20px;
    flex-direction: column;
    background-color: #333846;
    z-index: 9;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20%);
    transition: opacity 0.5s, transform 0.5s;
  }
  .menu-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .m-menu {
    display: block;
    background-color: transparent;
    border: none;
    margin-left: 40px;
    cursor: pointer;
  }
  .is-open {
    opacity: 90%;
    visibility: visible;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 16px;
  }
  .map {
    display: flex;
    flex-direction: column;
    height: 70vh;
  }
  .map-info {
    flex-direction: column;
  }
  .map-container-text {
    width: 100%;
  }
  .map-container-subtitle {
    max-width: 100%;
  }
  .table {
    max-width: 560px;
  }
  .table-names,
  .table-mountains {
    max-width: 560px;
  }
  .table-name {
    font-size: 16px;
  }
  .table-text {
    font-size: 20px;
  }
  .label-info {
    font-size: 14px;
  }
  .date {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .cont-map {
    width: 400px;
  }
}